@{
    ViewData["Title"] = "Завантажити файл";
}

<h2>Заповніть форму</h2>

<form method="post">
    <label for="firstName">Ім'я:</label>
    <input type="text" id="firstName" name="firstName" value="Default first name" required /><br /><br />

    <label for="lastName">Прізвище:</label>
    <input type="text" id="lastName" name="lastName" value="Deefault last name" required /><br /><br />

    <label for="fileName">Назва файлу:</label>
    <input type="text" id="fileName" name="fileName" value="default" required /><br /><br />

    <button type="submit">Продовжити</button>
</form>
